In [121]:
import pandas as pd
import numpy as np

# Specify the path to your CSV file
file_path = "output.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

df.head()

,Image_Attachment,PDF_Attachment,Calendar_Attachment,Text_Attachment,Year,Month,Date,Hour,Read,Thread,Attachment,Starred,Subscription,Forwarded,Attachment_Count,Size,Sender,Label
0,0,0,0,0,2024,3,27,23,1,1,1,1,1,1,0,300981,vijinimallawaarhchiflindersau,8
1,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,66710,hellodeeplearning,0
2,0,0,0,0,2024,3,27,17,1,1,1,1,1,1,0,31243,drivesharesdmgoogle,1
3,0,0,0,0,2024,3,27,15,1,1,1,1,1,1,0,5928,supporttryexponent,2
4,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,127182,updateslinkedin,3

In [122]:
# limit to categorical data using df.select_dtypes()
df_categorical = df.select_dtypes(include=[object])
df_categorical.columns

Index(['Sender'], dtype='object')

In [87]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [123]:
le = preprocessing.LabelEncoder()

df_categorical = df_categorical.apply(le.fit_transform)
df_categorical.head(10)

   Sender
0      70
1      23
2       5
3      63
4      67
5      57
6      18
7      36
8      61
9      43

In [125]:
# Iterate over each categorical column
for col in df_categorical.columns:
    # Fit label encoder and transform the column
    df[col] = le.fit_transform(df[col])

df.head()

,Image_Attachment,PDF_Attachment,Calendar_Attachment,Text_Attachment,Year,Month,Date,Hour,Read,Thread,Attachment,Starred,Subscription,Forwarded,Attachment_Count,Size,Sender,Label
0,0,0,0,0,2024,3,27,23,1,1,1,1,1,1,0,300981,70,8
1,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,66710,23,0
2,0,0,0,0,2024,3,27,17,1,1,1,1,1,1,0,31243,5,1
3,0,0,0,0,2024,3,27,15,1,1,1,1,1,1,0,5928,63,2
4,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,127182,67,3

In [126]:
# Find columns with negative values
negative_columns = df.columns[(df < 0).any()]

for negative_col in negative_columns:

    col = df[negative_col]

    # Replace negative values with NaN
    df[negative_col] = np.where(col < 0, np.nan, col)

In [127]:
# Find columns with negative values
negative_columns = df.columns[(df < 0).any()]

negative_columns

Index([], dtype='object')

In [128]:
df.isnull().values.any()

for col in df.columns:
    print(col, df[col].isnull().sum())

Image_Attachment 0
PDF_Attachment 0
Calendar_Attachment 0
Text_Attachment 0
Year 66
Month 66
Date 66
Hour 66
Read 0
Thread 0
Attachment 0
Starred 0
Subscription 0
Forwarded 0
Attachment_Count 0
Size 0
Sender 0
Label 0

In [129]:
print(df.mean())

for i in df.columns[df.isnull().any(axis=0)]:     #---Applying Only on variables with NaN values
    df[i].fillna(int(df[i].mean()),inplace=True)

Image_Attachment            0.021818
PDF_Attachment              0.010909
Calendar_Attachment         0.001818
Text_Attachment             0.032727
Year                     2024.000000
Month                       2.140496
Date                       16.041322
Hour                       10.960744
Read                        1.000000
Thread                      1.000000
Attachment                  1.000000
Starred                     1.000000
Subscription                1.000000
Forwarded                   1.000000
Attachment_Count            0.143636
Size                   106797.941818
Sender                     35.360000
Label                       3.143636
dtype: float64

In [130]:
df.isnull().values.any()

for col in df.columns:
    print(col, df[col].isnull().sum())

Image_Attachment 0
PDF_Attachment 0
Calendar_Attachment 0
Text_Attachment 0
Year 0
Month 0
Date 0
Hour 0
Read 0
Thread 0
Attachment 0
Starred 0
Subscription 0
Forwarded 0
Attachment_Count 0
Size 0
Sender 0
Label 0

In [131]:
# Separate features (X) and target variable (y)
X = df.drop(columns=['Label'])  # Replace 'target_column' with the name of your target variable column
y = df['Label']

In [132]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [140]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [141]:
#Predict the response for test dataset
y_pred_DT = clf.predict(X_test)

In [143]:
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_DT))

Accuracy: 0.7545454545454545

In [144]:
from sklearn.naive_bayes import MultinomialNB

# Train Naive Bayes model
nb_model = MultinomialNB()
nb_model = nb_model.fit(X_test, y_test)

In [145]:
#Predict the response for test dataset
y_pred_NB = nb_model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_NB))

Accuracy: 0.2909090909090909