In [27]:
import pandas as pd
import numpy as np

# Specify the path to your CSV file
file_path = "output.csv"

# Read the CSV file into a DataFrame
df1 = pd.read_csv(file_path)

df1.head()

,Image_Attachment,PDF_Attachment,Calendar_Attachment,Text_Attachment,Year,Month,Date,Hour,Read,Thread,Attachment,Starred,Subscription,Forwarded,Attachment_Count,Size,Sender,Label
0,0,0,0,0,2024,3,27,23,1,1,1,1,1,1,0,300981,vijinimallawaarhchiflindersau,8
1,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,66710,hellodeeplearning,0
2,0,0,0,0,2024,3,27,17,1,1,1,1,1,1,0,31243,drivesharesdmgoogle,1
3,0,0,0,0,2024,3,27,15,1,1,1,1,1,1,0,5928,supporttryexponent,2
4,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,127182,updateslinkedin,3

In [31]:
# Specify the path to your CSV file
file_path2 = "output_other.csv"

# Read the CSV file into a DataFrame
df2 = pd.read_csv(file_path2)

frames = [df1, df2]

df = pd.concat(frames)

# df.head()

df.shape

(799, 18)

In [32]:
# limit to categorical data using df.select_dtypes()
df_categorical = df.select_dtypes(include=[object])
df_categorical.columns

Index(['Sender'], dtype='object')

In [33]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [34]:
le = preprocessing.LabelEncoder()

df_categorical = df_categorical.apply(le.fit_transform)
df_categorical.head(10)

   Sender
0     111
1      34
2      15
3     101
4     108
5      92
6      28
7      52
8      98
9      65

In [35]:
# Iterate over each categorical column
for col in df_categorical.columns:
    # Fit label encoder and transform the column
    df[col] = le.fit_transform(df[col])

df.head()

,Image_Attachment,PDF_Attachment,Calendar_Attachment,Text_Attachment,Year,Month,Date,Hour,Read,Thread,Attachment,Starred,Subscription,Forwarded,Attachment_Count,Size,Sender,Label
0,0,0,0,0,2024,3,27,23,1,1,1,1,1,1,0,300981,111,8
1,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,66710,34,0
2,0,0,0,0,2024,3,27,17,1,1,1,1,1,1,0,31243,15,1
3,0,0,0,0,2024,3,27,15,1,1,1,1,1,1,0,5928,101,2
4,0,0,0,0,2024,3,27,13,1,1,1,1,1,1,0,127182,108,3

In [36]:
# Find columns with negative values
negative_columns = df.columns[(df < 0).any()]

for negative_col in negative_columns:

    col = df[negative_col]

    # Replace negative values with NaN
    df[negative_col] = np.where(col < 0, np.nan, col)

In [37]:
# Find columns with negative values
negative_columns = df.columns[(df < 0).any()]

negative_columns

Index([], dtype='object')

In [38]:
df.isnull().values.any()

for col in df.columns:
    print(col, df[col].isnull().sum())

Image_Attachment 0
PDF_Attachment 0
Calendar_Attachment 0
Text_Attachment 0
Year 90
Month 90
Date 90
Hour 90
Read 0
Thread 0
Attachment 0
Starred 0
Subscription 0
Forwarded 0
Attachment_Count 0
Size 0
Sender 0
Label 53

In [39]:
print(df.mean())

for i in df.columns[df.isnull().any(axis=0)]:     #---Applying Only on variables with NaN values
    df[i].fillna(int(df[i].mean()),inplace=True)

Image_Attachment           0.015019
PDF_Attachment             0.007509
Calendar_Attachment        0.001252
Text_Attachment            0.022528
Year                    2024.000000
Month                      2.413258
Date                      17.726375
Hour                      10.654443
Read                       1.000000
Thread                     1.000000
Attachment                 1.000000
Starred                    1.000000
Subscription               1.000000
Forwarded                  1.000000
Attachment_Count           0.098874
Size                   99499.095119
Sender                    55.381727
Label                      3.132708
dtype: float64

In [40]:
df.isnull().values.any()

for col in df.columns:
    print(col, df[col].isnull().sum())

Image_Attachment 0
PDF_Attachment 0
Calendar_Attachment 0
Text_Attachment 0
Year 0
Month 0
Date 0
Hour 0
Read 0
Thread 0
Attachment 0
Starred 0
Subscription 0
Forwarded 0
Attachment_Count 0
Size 0
Sender 0
Label 0

In [41]:
# Separate features (X) and target variable (y)
X = df.drop(columns=['Label'])  # Replace 'target_column' with the name of your target variable column
y = df['Label']

In [58]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [59]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [60]:
#Predict the response for test dataset
y_pred_DT = clf.predict(X_test)

In [61]:
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_DT))

Accuracy: 0.85

In [62]:
from sklearn.naive_bayes import MultinomialNB

# Train Naive Bayes model
nb_model = MultinomialNB()
nb_model = nb_model.fit(X_test, y_test)

In [63]:
#Predict the response for test dataset
y_pred_NB = nb_model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_NB))

Accuracy: 0.2125

In [64]:
from sklearn import svm

svm_clf = svm.SVC()
svm_clf = svm_clf.fit(X_test, y_test)

In [65]:
#Predict the response for test dataset
y_pred_SVM = svm_clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_SVM))

Accuracy: 0.3875